# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
.venv/
venv/

# Build Outputs
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and Temporary Files
*.log
*.tmp
samples/