# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
.venv/
venv/

# Build Outputs
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and Temporary Files
*.log
*.tmp
samples/
samples_small/
.cache/
/demo.ipynb
examples/.cache/
examples/sample_docs
benchmark-small/
baseline_small_test_paper/
extraction result of test tasks of small benchmark/
.cache*.zip